{% include "header.html" %}
 
<body>
 
<!-- top -->
<div id="top">
  <div>
    <div class="logo"><img src="/static/img/top_logo.png" /></div>
    <div class="log_area">
      <strong><a href="#">홍길동</a></strong>님 <span>|</span>&nbsp;<a href="#"><img src="/static/img/log_out.png" align="top" /></a>
    </div>    
  </div>
</div>
<!-- body  -->
<div id="wrap">
  <div id="left">
    <ul><a href="#">가맹점정보</a></ul>
	<ul><a href="#">공지사항</a></ul>
	<ul><a href="#">쿠폰관리</a></ul>
	<ul><a href="#">리뷰관리</a></ul>
	<ul class="sel">고객센터</ul>
	<ul><a href="#">포인트구매</a></ul>
	<ul><a href="#">통계</a></ul>
  </div>
  <!-- 현재영역까지 GNB -->

  <!-- 본문 -->
  <div id="contents">
    <h1>고객센터 보기</h1>
    <table class="tbl">
      <colgroup>
        <col width="*" />
		<col width="90" />
      </colgroup>
      <tr>
        <th class="first Lft">제목입니다</th>
        <th>2012.09.30</th>
      </tr>      
    </table>
	<div class="tblview">
      내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다
	  내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다
	  내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다
	</div>

	<!---답변이 있는 경우 아래 div추가 --->
	<div class="tblview">
      <b>
	  답변입니다
	  </b>
	</div>


  <!-- //본문 -->
  <!-- 버튼, 페이저 -->
	<div class="bnarea">
		<div class="floatRight">
			<input type="button" class="btn_gray_h28 w50" value="목록" />
			<input type="button" class="btn_gray_h28 w50" value="삭제" />
		</div>
	</div>




  </div>
</div>
<!-- footer -->
<div id="bottom">
  <img src="/static/img/bottom_img.png" />
</div>
</body>
</html>

