{% include "header.html" %}
 
<body>
 
<!-- top -->
<div id="top">
  <div>
    <div class="logo"><img src="/static/img/top_logo.png" /></div>
    <div class="log_area">
      <strong><a href="#">홍길동</a></strong>님 <span>|</span>&nbsp;<a href="#"><img src="/static/img/log_out.png" align="top" /></a>
    </div>    
  </div>
</div>
<!-- body  -->
<div id="wrap">
  <div id="left">
    <ul class="sel">가맹점정보</ul>
	<ul><a href="#">공지사항</a></ul>
	<ul><a href="#">쿠폰관리</a></ul>
	<ul><a href="#">리뷰관리</a></ul>
	<ul><a href="#">고객센터</a></ul>
	<ul><a href="#">포인트구매</a></ul>
	<ul><a href="#">통계</a></ul>
  </div>
  <!-- 현재영역까지 GNB -->

  <!-- 본문 -->
  <div id="contents">
    <h1>가맹점 정보수정</h1>
    <table class="tbl">
      <colgroup>
        <col width="173px" />
        <col width="*">
      </colgroup>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">가맹점 명</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="화로구이" />
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">대표자 명</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150"  value="홍희동"/>
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">사업자등록번호</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150"  value="000-00-000000"/>
			<input type="button" class="btn_gray_h22 w50" value="인증" />
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">아이디</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="abc@abc.com" />
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">비밀번호</strong></th>
        <td class="Lft">
          <label>
            <input type="password" class="text w150" value="1234" />
          </label>
        </td> 
      </tr>
	  <tr>
        <th class="first th_border2 Lft"><strong class="point">비밀번호 확인</strong></th>
        <td class="Lft">
          <label>
            <input type="password" class="text w150" value="1234" />
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">업태/업종</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="서비스" />
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">영업시간</strong></th>
        <td class="Lft">
          <label>
            <select class="text w3">
                <option>00시</option>
                <option>01시</option>
              </select>
			  <select class="text w3">
                <option>00분</option>
                <option>10분</option>
              </select>&nbsp;~&nbsp;
			  <select class="text w3">
                <option>00시</option>
                <option>01시</option>
              </select>
			  <select class="text w3">
                <option>00분</option>
                <option>10분</option>
              </select>
			 
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">휴무일</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="공휴일"/> 예) 공휴일, 주말, 월
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">담당자</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="홍길동"/>
          </label>
        </td> 
      </tr>
      <tr>
        <th class="first th_border2 Lft"><strong class="point">담당자 연락처</strong></th>
        <td class="Lft">
          <label>
            <input type="text" class="text w150" value="000-0000-0000" />
          </label>
        </td> 
      </tr>
	  <tr>
        <th class="first th_border2 Lft"><strong class="point">주소</strong></th>
        <td class="Lft vertical_t">
          <label>
            <div>
				<input type="text" class="text w300" value="서울 강남구 신사동" />
				<input type="button" class="btn_gray_h22 w90" value="우편번호 검색" />
			</div>
			<div>
				<input type="text" class="text w300" value="534-22 상원빌딩 2층"/>
			</div>
          </label>
        </td> 
      </tr>
	  <tr>
        <th class="first th_border2 Lft"><strong>보유포인트</strong></th>
        <td class="Lft">
          5000p
        </td> 
      </tr>
	  <tr>
        <th class="first th_border2 Lft"><strong>가맹점소개글</strong></th>
        <td class="Lft">
          <label>
            <textarea rows="5" class="text w500" >가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 가맹점 소개글 </textarea>
          </label>
        </td> 
      </tr>
	  <tr>
        <th class="first th_border2 Lft"><strong class="point">사진등록</strong></th>
        <td class="Lft vertical_t">          
		  <div>
		  <!---업로드된 사진 리스트--->
            <div class="ms_photo">
				<img src="http://i2.media.daumcdn.net/photo-media/201209/12/sportsdonga/20120912140603934.jpg">
				<a href="#"><img src="/static/img/del_photo.png" class="del_photo"></a>
			</div>
			<div class="ms_photo">
				<img src="http://i2.media.daumcdn.net/photo-media/201209/12/sportsdonga/20120912140603934.jpg">
				<a href="#"><img src="/static/img/del_photo.png" class="del_photo"></a>
			</div>
			<div class="ms_photo">
				<img src="http://i2.media.daumcdn.net/photo-media/201209/12/sportsdonga/20120912140603934.jpg">
				<a href="#"><img src="/static/img/del_photo.png" class="del_photo"></a>
			</div>
          </div>
		  <div>
            <input type="text" class="text w300" />
			<input type="button" class="btn_gray_h22 w70" value="파일찾기" />
			<input type="button" class="btn_orange_h22 w50" value="업로드" />
          </div>
        </td> 
      </tr>
      
      
    </table>
  <!-- //본문 -->
  <!-- 버튼, 페이저 -->
    <div class="bnarea">
	  <div class="floatRight">
        <input type="button" class="btn_gray_h28 w90" value="저장" />
        <input type="button" class="btn_gray_h28 w90" value="취소" />
      </div>
    </div>    
  </div>
</div>
<!-- footer -->
<div id="bottom">
  <img src="/static/img/bottom_img.png" />
</div>
</body>
</html>

