{% include "header.html" %}
 
<body>
 
<!-- top -->
<div id="top">
  <div>
    <div class="logo"><img src="/static/img/top_logo.png" /></div>
    <div class="log_area">
      <strong><a href="#">홍길동</a></strong>님 <span>|</span>&nbsp;<a href="#"><img src="/static/img/log_out.png" align="top" /></a>
    </div>    
  </div>
</div>
<!-- body  -->
<div id="wrap">
  <div id="left">
    <ul><a href="#">가맹점정보</a></ul>
	<ul class="sel">공지사항</ul>
	<ul><a href="#">쿠폰관리</a></ul>
	<ul><a href="#">리뷰관리</a></ul>
	<ul><a href="#">고객센터</a></ul>
	<ul><a href="#">포인트구매</a></ul>
	<ul><a href="#">통계</a></ul>
  </div>
  <!-- 현재영역까지 GNB -->

  <!-- 본문 -->
  <div id="contents">
    <h1>공지사항</h1>
    <table class="tbl">
      <colgroup>
        <col width="*" />
        <col width="110px" />
      </colgroup>
      <tr>
        <th class="first">제목</th>
        <th>날짜</th>
      </tr>
      <tr>
        <td class="first Lft"><a href="#">제목입니다</a></td>
        <td>2012.09.10</td>
      </tr>
	  <tr>
        <td class="first Lft"><a href="#">제목입니다</a></td>
        <td>2012.09.10</td>
      </tr>
	  <tr>
        <td class="first Lft"><a href="#">제목입니다</a></td>
        <td>2012.09.10</td>
      </tr>
	  <tr>
        <td class="first Lft"><a href="#">제목입니다</a></td>
        <td>2012.09.10</td>
      </tr>
	  <tr>
        <td class="first Lft"><a href="#">제목입니다</a></td>
        <td>2012.09.10</td>
      </tr>
      
    </table>
  <!-- //본문 -->
  <!-- 버튼, 페이저 -->
	<div class="bnarea">
		<div class="paging">
			<span class="btn"><a href="#"><img src="/static/img/page_left.png" />&nbsp;이전</a></span>
			<span><strong>1</strong></span>
			<span><a href="#">2</a></span>
			<span><a href="#">3</a></span>
			<span><a href="#">4</a></span>
			<span><a href="#">5</a></span>
			<span class="btn"><a href="#">다음&nbsp;<img src="/static/img/page_right.png" /></a></span>
		</div>
	</div>




  </div>
</div>
<!-- footer -->
<div id="bottom">
  <img src="/static/img/bottom_img.png" />
</div>
</body>
</html>

