{% include "header.html" %}
{% include "top.html" %} 
{% include "left.html" %} 
<form id="point_register_form" action="/point/register/save/" method="post" autocomplete="off">
{% csrf_token %}
  <div id="contents">
    <h1>포인트 관리</h1>
    <table class="tbl">
      <colgroup>
        <col width="30%" />
        <col width="30%" />
		<col width="30%" />
      </colgroup>
      <tr>
        <th class="first">결제비용</th>
        <th>제공포인트 / 제공기간 </th>
		    <th>선택</th>
        <th>삭제</th>
      </tr>
      {% for b in bill %}
      <tr>
        <td class="first">{{b.price}} 원</td>
        <td>{{b.point}} {% if b.bill_type == 1 %} point{%else%} 일간 무제한{%endif%}</td>
		    <td>{% if b.bill_type == 1 %}직접입력{%else%}{{b.point}}일간무제한{%endif%}</td>		
        <td><input type="button" class="btn_gray_h22 w50" value="삭제" onclick="point_delete({{b.id}})"/></td>
      </tr>	 
      {% endfor %}
      <tr>
        <td class="first"><input type="text" class="text w150" name="price" id="price"/> 원</td>
        <td id="point_td"><input type="text" class="text w90" name="point" id="point"/>&nbsp;&nbsp;&nbsp;<h id="point_text"></h></td>
		    <td>
          <select class="text w150" name="point_type" onchange="point_type_change(value);">
  				  <option value="1">직접입력</option>
  				  <option value="2">무제한</option>
			   </select>
         <td><input type="submit" class="btn_orange_h22 w50" value="저장" /></td>
    </table>
  </div>
</div>
</form>
{% include "footer.html" %} 
</body>
</html>

